@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

li {
  color: black;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a.decorated:hover {
  @apply underline
}

a.no-underline {
  text-decoration: none;
}

h1 {
  @apply text-white text-4xl;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}
